/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*backgroud color for design*/
	background-color: LightGray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* div boarder for design*/
div {
	border: 1px solid;
}
/* what is Chocolate?*/

.top-navigation{
	background-color: #fff;
}
.top-navigation  .content{
width: 1250px;
height: 70px;
margin: 0 auto;
/*The first value ("0") is the top and bottom margin, the second value ("auto") is the left and right margin*/
}
/*why is positioning done before all the content?*/
.top-navigation  .links {
float: right;
margin: 1.5em;
width: 600px;
text-align: center;
font-family: 'Roboto', sans-serif; 
font-size: 16px; 
color: #838994; 
letter-spacing: 0.03em;
}
.top-navigation .logo{
	height: 70px;
	margin-left: 4em;
}
.top-navigation  .links > li {
display: inline-block;
padding-left: 1.5em;
font-size: 1.05em;
}
.top-navigation .links a{
	text-decoration: none;
	color: #6D7878
}
.img-section{
	background-image: url("../images/first-backgroun.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	height: 670px;
	background-size: cover;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: white;
}
/*how do I lower font thickness?*/
.img-section .title{
font-size: 50px;
margin-top: 210px;
}
.img-section .tag-line{
	font-size: 25px;
	margin-top: 20px;
}
.img-section .button{
	margin-top: 25px;
	background-color: #FA6032;
	font-size: 1.1em;
	color: #ffffff;
	padding: 15px 30px;
	border-style: none;
	border-radius: 3px;
}
.img-section .button:hover { 
    background-color: #E34B1E;
}